body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", "Helvetica Neue", Arial;
  line-height: 1.4;
  background-color:#eaeaea;
  color: black;
  font-size: 19px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 1.25%;
}

header{
    color:white;
    padding: 3.5%;
    text-align: center;
    /* background-color:#213142; */
    background-position: center;
    background-image: url("../images/banner2.webp");
}


header p{
    font-size: 150%;
}

header .time{
    color: white;
    left: 10px;
    margin-right: -100px;
    position: absolute;
    top: 10px;
    font-weight: 750;
}

h1{
    font-size: 300%;
    color: white;
    margin: auto;
}


section {
    background: white;
    padding: 0.5%;
    border-radius: 8px;
}



.main-nav{
    background-color: #fff;
    border-bottom: solid #e0e6ef;
}

.main-nav ul{
    list-style: none;
    padding: 0.5%;
    margin: 0;
    overflow: hidden;
}

.main-nav ul li{
    padding-right: 80px;
    margin-left: 10px;
    float: left;
}

.main-nav ul li a{
    display: block;
    padding: 4px;
    color:gray;
    text-decoration: none;
}

.main-nav ul img.cog{
    float: right;
}

.main-nav ul li a:hover{
    transform: scale(1.1);
    transition-duration: 0.2s;
    background-color:#e8f3fb;
    color: #0b5fa5;
    box-shadow: 5px 5px 5px gray;
    border-radius: 8px;
}


.main-nav ul li img{
    height: 30px;
    width: 30px;
    display: block;
    padding: 4px;
    color:gray;
    text-decoration: none;
}


.intro figure img{
    height: 600px;
    width: auto;
    float: left;
    padding-right: 30px;
}

.intro figure figcaption{
    padding-top: 300px;
}




.outro article a{
    text-decoration: none;
}

table{
    width: 100%;
    border-collapse:collapse;
    margin: auto;
}

table th,td {
    padding: 2px 2px;
    border: 1px solid #e0e6ef;
}

table thead{
    background-color: #1a2940;
    color: white;
}

.mini-img{
    margin-left: 50px;
}


.thumb{
    width: 80px;
    height: auto;
    display: block;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding-bottom: 35px;
}

.gallery figure{
    margin: 10px;
    text-align: center;
}

.gallery img{
    width: 100%;
    height: 100%;
}

.test-block{
    width: 200px;
    border:2px solid rgba(71,236,30, 1);
    background: rgba(71,236,30,0.7);
    text-align: center;
    color:#000;
    padding:20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


footer{
    padding: 2%;
    text-align: center;
    color: #b4b4b4;
    background: white;
    border-top: solid #e0e6ef;
}